@model ExArbeteJonas.ViewModels.RulesViewModel

@if (Model.CurrentRules.Count() == 0)
{
    <h2 class="ice-two">Det finns inga inlagda regler för prylmarknaden</h2>
}
else
{
    <h2 class="ice-two">Regler för prylmarknaden</h2>
}

@foreach (var item in Model.CurrentRules)
{
    <div class="container">
        <div class="col-md-4 col-md-offset-4" align="center">
            <h3 class="ice-three">@item.Title</h3>
            @item.Description
        </div>
    </div>
}

