<h2 class="ice-two">Regler för prylmarknaden</h2>
<div class="container">
    <div class="col-md-4 col-md-offset-4" align="center">
        <h3 class="ice-three">Endast som Privatperson</h3>
        Du får bara annonsera som privatperson. Annonserna får inte ha något kommersiellt syfte.
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="ice-three">Två saker per annons.</h3>
        Du får inte sälja mer än två saker i samma annons.
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="ice-three">Endast ett pris per annons.</h3>
        Du får bara annonsera till ett pris per annons. Om du säljer två saker i samma annons så anger du ett pris för hela paketet.
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="ice-three">Endast för Långfärdsskridskor</h3>
        Du får bara annonsera utrustning som har anknytning till aktiviteten Långfärdsskridskor.
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4" align="center">
        <h3 class="ice-three">Ta bort annonsen</h3>
        Som annonsör så ansvarar du för att ta bort inaktuella annonser. Annars ligger annonsen kvar 1 månad.
    </div>
</div>
